* {
    padding: 0;
    margin: 0;
}


.container {
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: repeat(7, minmax(auto, 1fr));
    grid-template-columns: minmax(auto, 1fr);
    grid-template-areas: "header" "service" "portfolio" "about" "pricing" "contact" "footer";
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    grid-area: header;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    background-image: url(Rawan\ Salah\ -\ Attachments/images/header_1.jpg);
    position: relative;
}

.searcch {
    border-left: 2px solid white;
    width: 0;
}

.searcch:hover {
    animation-name: search;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    cursor: pointer;
}

@keyframes search {
    25% {
        width: 50px;
    }

    75% {
        width: 100px;
    }

    100% {
        width: 150px;
    }
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: 100px;
}



.nav {
    display: flex;
}

li {
    list-style: none;
    margin: 10px 10px 0 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 5px 15px 0 0;
}

.navg:hover {
    cursor: pointer;
    color: rgb(9, 154, 232);
    border-bottom: 1px solid rgb(9, 154, 232);
}


header .hello {
    position: relative;
    top: 50px;
    color: white;
    background-color: #00c5fc80;
    text-transform: capitalize;
    width: 50%;
    height: 50%;
}


.hello h1 {
    font-weight: 500;
    padding-top: 20px;
    font-size: 18px;
    margin: 100px 0 10px 130px;
}

.hello p {
    font-weight: 400;
    font-size: 13px;
    margin: 20px 0 10px 130px;
    width: 50%;
}

.services {
    grid-area: service;
    position: relative;
    bottom: 1288px;
}

.title {
    text-align: center;
    margin: 50px 0 -65px 0;
    font-size: 35px;
    font-weight: 900;
}

.icon {
    text-align: center;
}

.s {
    text-align: center;
    margin: -50px 0 25px 0;
    color: #c2baaf;
}

.sections {
    margin: 200px auto auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(630px,1fr));
    grid-template-rows: repeat(2, minmax(300px,1fr));
    gap: 43px 86px;
    position: relative;
    grid-template-areas: "section-1 section-2" "section-3 section-4";
}

.font-style-h4 {
    font-weight: 800;
    font-size: 22px;
    color: black;
    width: 300px;
}

.font-style-p {
    width: 266px;
    color: #c2baaf;
}


.section-1 {
    grid-area: section-1;
    position: relative;
    left: 158px;
    top: -14px;
}


.sections .h4-one {
    position: absolute;
    left: 139px;
    top: 89px
}

.sections .p-one {
    position: absolute;
    left: 136px;
    top: 142px;
    width: 266px;
}

.sections .fa-tv {
    position: absolute;
    top: 108px;
    left: 66px;
    font-size: 30px;
}

.section-2 {
    grid-area: section-2;
    position: absolute;
    top: 85px;
    right: 224px;
}

.sections .h4-two {
    position: absolute;
    right: 2px;
    top: -19px;
    width: 300px;
}

.sections .p-two {
    position: absolute;
    right: 32px;
    top: 35px;
    width: 266px;
}

.sections .fa-gear {
    font-size: 30px;
    position: absolute;
    right: 345px;
    top: 8px;
}

.section-3 {
    grid-area: section-3;
    position: relative;
    top: -204px;
    left: 230px;
}


.sections .h4-three {
    position: absolute;
    bottom: 68px;
    left: 58px;
}

.sections .p-three {
    position: absolute;
    bottom: -38px;
    left: 56px;
}

.sections .fa-pen-ruler {
    position: absolute;
    font-size: 30px;
    bottom: 10px;
}

.section-4 {
    grid-area: section-4;
    position: absolute;
    right: 601px;
    top: 49px;
}

.sections .h4-four {
    position: absolute;
    top: -52px;
    left: 76px;
}

.sections .p-four {
    position: absolute;
    top: 14px;
    left: 75px;
}

.sections .fa-camera {
    position: absolute;
    font-size: 30px;
}

.header-2 {
    background-image: url(Rawan\ Salah\ -\ Attachments/images/header_2.jpg);
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1500px;
    height: 500px;
    overflow: hidden;
}

.header-2 .phone-2 {
    width: 200px;
    height: 350px;
    position: relative;
    top: 125px;
    left: 752px;
    z-index: 1
}

.header-2 .phone-1 {
    width: 200px;
    height: 400px;
    position: relative;
    top: 148px;
    left: 437px;
    z-index: 2;
}



.header-2>.blue {
    display: inline-block;
    width: 176px;
    height: 311px;
    background-color: rgb(70, 184, 226);
    position: absolute;
    top: 196px;
    right: 72px;
    z-index: 2;
    left: 650px;
}

.header-2>.pink {
    display: inline-block;
    width: 202px;
    height: 270px;
    background-color: rgb(193, 17, 128);
    position: absolute;
    top: 215px;
    z-index: 1;
    left: 738px;
}

.back {
    background-color: rgba(70, 184, 226, 0.772);
    width: 400px;
    height: 350px;
    position: absolute;
    top: 80px;
    left: 990px;
    padding-left: 110px;
    color: white;
}

.back>h4 {
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
    padding-top: 40px;
    font-size: 140%;
    font-weight: 100;
}

.back>ul {
    padding-left: 0;
}

.back>ul>li {
    list-style: none;
    padding: 10px 10px 5px;
    font-weight: 200;
    font-size: 120%;
}

.portfolio {
    height: 1998px;
    grid-area: portfolio;
    position: relative;
    bottom: 1712px;
}

.n {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 30px;
}

.capital {
    font-size: 20px;
    margin-top: 100px;
    color: black;
    text-transform: capitalize;
    width: 125px;
}

.capital:hover {
    color: white;
    background-color: aqua;
    border: 1px solid black;
}

.imagess {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.style-img {
    width: 25%;
    height: 200px;
}

.button {
    margin: 30px 0 100px 0;
    text-align: center;
}

button {
    border-radius: 5px;
    width: 100px;
    height: 40px;
    background-color: rgb(2, 27, 27);
    border: 1px solid aqua;
    color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: rgb(114, 89, 51);
    box-shadow: -2px 10px 27px #0c1e18;
}

.myvid {
    width: 100%;
}

.content {
    text-align: center;
    position: relative;
    bottom: 500px;
    background: rgb(0 240 254 / 59%);
    color: #f1f1f1;
    padding: 20px;
}

.cap {
    font-size: 20px;
    text-transform: uppercase;
}

.parag {
    text-align: center;
    margin: 30px 0;
}

.about {
    height: 2085px;
    grid-area: about;
    position: relative;
    bottom: 1680px;
}

.title-2 {
    text-align: center;
    margin: -165px 0 -65px 0;
    font-size: 35px;
    font-weight: 900;
}
.header-3 {
    background-image: url(Rawan\ Salah\ -\ Attachments/images/header_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 500px;
    position: relative;
}

.stat {
    height: 200px;
    width: 1150px;
    background-color: rgb(0 240 254 / 59%);
    left: 90px;
    top: 170px;
    position: absolute;
    display: flex;
    justify-content: space-around;
}


.one {
    left: 5px;
    position: relative;
    bottom: 270px;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    color: white;
}
.r {
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 30px;
}

.space {
    margin-top: 10px;
    font-size: 37px;
    margin-bottom: 20px;
}

.space-1 {
    margin-top: 5px;
}

.special {
    margin-left: 10px;
}

h6 {
    margin-bottom: 50px;
}

.one-1 {
    position: relative;
    left: -30px;
}

.us {
    display: flex;
    justify-content: space-around;
}

.skill-1 {
    margin: 50px 0 0 150px;
    color: #c2baaf;
}

.test-1 {
    margin: 40px 160px -35px 180px;
    text-transform: uppercase;
    text-align: center;
}

.us-1 {
    display: flex;
    flex-direction: column;
}

.test-2 {
    position: relative;
}

.skills-3 {
    width: 530px;
    right: 660px;
    font-weight: 600;
    top: 285px;
    position: absolute;
}

.skills-4 {
    bottom: 1312px;
    position: absolute;
    right: 665px;
    font-weight: 600;
    width: 530px;
}

.progress {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin: 0 270px 50px 0;
}

.bar {
    font-size: 20px;
}

.container-2 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: 1000px;
    background-color: rgb(192, 192, 192);
    width: 25%;
    margin-bottom: 40px;
}

.special-cont {
    margin-top: 20px;
}

.skillss {
    background-color: rgb(8, 138, 225);
    color: white;
    padding: 1%;
    text-align: right;
    height: 30px;
}

.s-bar {
    margin-top: 20px;
}

.adobe {
    width: 90%;
}

.html {
    width: 83%;
}

.js {
    width: 65%;
}

.php {
    width: 77%;
}

.same {
    width: 50px;
    text-align: center;
    z-index: -2;
    padding: 5px 0;
    color: white;
    display: inline-block;
    background-color: black;
    position: absolute;
}

.same::before {
    content: "";
    width: 0px;
    height: 0px;
    background-color: black;
    position: absolute;
    left: 14px;
    margin: 10px 0px 10px;
    border-width: 10px;
    border-style: solid;
    border-color: black white white white;
    z-index: 2;
    top: 18px;
}

.per-1 {
    right: 446px;
    bottom: 1484px;
}

.per-2 {
    right: 425px;
    bottom: 1385px;
}

.per-3 {
    right: 369px;
    bottom: 1282px;
}

.per-4 {
    right: 407px;
    bottom: 1183px;
}

.quote {
    height: 250px;
    display: flex;
    justify-content: center;
    background-image: url(Rawan\ Salah\ -\ Attachments/images/quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.quotes {
    display: flex;
    justify-content: center;
    color: white;
    position: relative;
    right: 100px;
    top: 100px;
}

.q {
    color: white;
    position: relative;
    right: 575px;
    top: 195px;
}

.pricing {
    grid-area: pricing;
    position: relative;
    bottom: 2405px;
}

.title-3 {
    text-align: center;
    margin: 50px 0 -65px 0;
    font-size: 35px;
    font-weight: 900;
}

.price {
    display: flex;
    justify-content: space-around;
}
.pricing-1 {
    text-align: center;
    width: 300px;
    height: 540px;
}

.pr {
    text-transform: uppercase;
    font-size: 30px;
    color: black;
}

sub {
    font-size: 15px;
}

.pri {
    padding: 20px;
    color: black;
}

.bordert {
    border-top: 1px solid aqua;
}

.borderb {
    border-bottom: 1px solid aqua;
}

.paddingb {
    padding-bottom: 30px;
}

.paddingt {
    padding-top: 30px;
}

.buy {
    background-color: #f1f1f1;
    color: black;
}

.buy:hover {
    background-color: beige;
    box-shadow: 5px 6px 11px rgb(56 26 62);
}

.pricing-1:hover {
    animation-name: ani;
    animation-duration: 1.5s;
    animation-delay: -0.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    translate: 6px 10px 15px;
}

@keyframes ani {
    25%{
        box-shadow: 5px 6px 11px rgb(56 26 62);
    }

    50% {
        box-shadow: 6px 7px 13px rgb(56 26 62);
    }

    75% {
        box-shadow: 5px 6px 11px rgb(56 26 62);
    }

    100% {
        box-shadow: 3px 4px 9px rgb(56 26 62);
    }
}

.contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 3654px;
}

.center {
    margin-top: 50px;
    text-align: center;
}

.btn {
    background-color: rgb(221, 209, 193);
    color: black;
}

.btn:hover {
    background-color: rgb(14, 30, 30);
}

.mail {
    margin-top: 50px;
    background-image: url(Rawan\ Salah\ -\ Attachments/images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 0%;
    display: flex;

}

.email {
    display: flex;
    margin: 300px 0 300px 200px;
    position: relative;
}

.e-mail {
    background-color: rgba(240, 248, 255, 0);
    width: 400px;
    height: 40px;
    position: relative;
}

::placeholder {
    position: absolute;
    left: 40px;
    font-size: 15px;
}

.fa-envelope {
    top: 7px;
    position: absolute;
    left: 12px;
    font-size: 30px;
    color: white;
}

.subsbtn .subs {
    margin: -2px;
    width: 180px;
    height: 49px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.subsbtn .subs:hover {
    background-color: rgb(62, 80, 74);
    color: bisque;
}

.mail p {
    color: white;
    margin: 300px 0 0 145px;
}

.conc {
    display: flex;
    position: relative;
}

.form {
    display: flex;
    flex-direction: column;
}

.width {
    width: 300px;
    height: 40px;
}

.name {
    margin: 90px 0 0 200px;
}

.e-mail-2,
.message {
    margin: 10px 0 0 200px;
}

.width-2 {
    width: 300px;
    height: 100px;
}

.touch {
    position: absolute;
    left: 565px;
    top:90px;
}


.touch h6 {
    margin: 0;
}

h3 .add {
    margin-top: 70px;
}

.btnm {
    text-align: center;
    margin: 50px;
}

.btnm button {
    background-color: rgb(21, 230, 160);
    width: 150px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}


footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Rawan\ Salah\ -\ Attachments/images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 4000px;
}



.social {
    color: white;
    text-transform: uppercase;
}

.social h4 {
    font-weight: 800;
    font-size: 25px;
    border-bottom: 1px solid white;
}

.social-icons {
    color: white;
    font-size: 25px;
    margin-bottom: 100px;
}

.fa-brands,
.fa-g {
    margin: 0 20px;
    cursor: pointer;
}

.fa-brands:hover,
.fa-g:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.4);
    -webkit-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -ms-transform: scale(1.4);
    -o-transform: scale(1.4);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.copy {
    color: white;
}

.color {
    color: rgb(19, 42, 249);
    margin-right: 4px;
}