* {
    padding: 0;
    margin: 0;
}


.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-rows: repeat(6, auto);
    grid-template-columns: repeat(auto-fill, minmax(831px, 1fr));
    grid-template-areas: "header" "service" "portfolio" "about" "pricing" "contact";
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    grid-area: header;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 720px;
    background-image: url(Rawan\ Salah\ -\ Attachments/images/header_1.jpg);
    background-color: rgba(0, 0, 0, 0.313);
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: 100px;
}



.nav {
    display: flex;
}

li {
    list-style: none;
    margin: 10px 10px 0 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 5px 15px 0 0;
}

.navg:hover {
    cursor: pointer;
    color: rgb(9, 154, 232);
    border-bottom: 1px solid rgb(9, 154, 232);
}


header .hello {
    position: relative;
    top: 50px;
    color: white;
    background-color: #00c5fc80;
    text-transform: capitalize;
    width: 50%;
    height: 50%;
}


.hello h1 {
    font-weight: 500;
    padding-top: 20px;
    font-size: 18px;
    margin: 100px 0 10px 130px;
}

.hello p {
    font-weight: 400;
    font-size: 13px;
    margin: 20px 0 10px 130px;
    width: 50%;
}

.services {
    grid-area: service;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 50px 0 -65px 0;
    font-size: 35px;
    font-weight: 900;
}

.icon {
    text-align: center;
}

.s {
    text-align: center;
    margin: -50px 0 25px 0;
    color: #c2baaf;
}

.sections {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(656px,1fr));
    grid-template-rows: repeat(2, minmax(300px,1fr));
    gap: 50px 0;
    position: relative;
    grid-template-areas: "section-1 section-2" "section-3 section-4";
}

.font-style-h4 {
    font-weight: 800;
    font-size: 22px;
    color: black;
    width: 330px;
    margin: 0;
}

.font-style-p {
    margin: 0;
    width: 330px;
    color: #c2baaf;
}


.section-1 {
    grid-area: section-1;
    display: flex;
    flex-wrap: wrap;
}


.sections .h4-one {
    position: absolute;
    left: 115px;
}

.sections .p-one {
    position: absolute;
    left: 115px;
    top: 50px;
}

.sections .fa-tv {
    position: absolute;
    top: 30px;
    left: 50px;
    font-size: 30px;
}

.section-2 {
    grid-area: section-2;
    display: flex;
}

.sections .h4-two {
    position: absolute;
    right: -10px;
}

.sections .p-two {
    position: absolute;
    right: -5px;
    top: 50px;
}

.sections .fa-gear {
    font-size: 30px;
    position: absolute;
    right: 345px;
    top: 35px;
}

.section-3 {
    grid-area: section-3;
    display: flex;
    position: relative;
}


.sections .h4-three {
    position: absolute;
}

.sections .p-three {
    position: absolute;
}

.sections .fa-pen-ruler {
    position: absolute;
    font-size: 30px;
}

.section-4 {
    grid-area: section-4;
    display: flex;
}

.sections .h4-four {
    position: absolute;
}

.sections .p-four {
    position: absolute;
}


.sections .fa-camera {
    position: absolute;
    font-size: 30px;
}