* {
    padding: 0;
    margin: 0;
}


.container {
    display: grid;
    width: auto;
    height: auto;
    grid-template-rows: repeat(6, minmax(auto, 1fr));
    grid-template-columns: minmax(auto, 1fr);
    grid-template-areas: "header" "service" "portfolio" "about" "pricing" "contact";
}

body {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    grid-area: header;
    background-repeat: no-repeat;
    background-size: cover;
    height: 720px;
    background-image: url(Rawan\ Salah\ -\ Attachments/images/header_1.jpg);
    position: relative;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
}

.logo img {
    width: 100px;
}



.nav {
    display: flex;
}

li {
    list-style: none;
    margin: 10px 10px 0 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin: 5px 15px 0 0;
}

.navg:hover {
    cursor: pointer;
    color: rgb(9, 154, 232);
    border-bottom: 1px solid rgb(9, 154, 232);
}


header .hello {
    position: relative;
    top: 50px;
    color: white;
    background-color: #00c5fc80;
    text-transform: capitalize;
    width: 50%;
    height: 50%;
}


.hello h1 {
    font-weight: 500;
    padding-top: 20px;
    font-size: 18px;
    margin: 100px 0 10px 130px;
}

.hello p {
    font-weight: 400;
    font-size: 13px;
    margin: 20px 0 10px 130px;
    width: 50%;
}

.services {
    grid-area: service;
    position: relative;
    bottom: 296px;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 50px 0 -65px 0;
    font-size: 35px;
    font-weight: 900;
}

.icon {
    text-align: center;
}

.s {
    text-align: center;
    margin: -50px 0 25px 0;
    color: #c2baaf;
}

.sections {
    margin: 200px auto auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(630px,1fr));
    grid-template-rows: repeat(2, minmax(300px,1fr));
    gap: 43px 86px;
    position: relative;
    grid-template-areas: "section-1 section-2" "section-3 section-4";
}

.font-style-h4 {
    font-weight: 800;
    font-size: 22px;
    color: black;
    width: 300px;
}

.font-style-p {
    width: 266px;
    color: #c2baaf;
}


.section-1 {
    grid-area: section-1;
    position: relative;
    left: 158px;
    top: -14px;
}


.sections .h4-one {
    position: absolute;
    left: 139px;
    top: 89px
}

.sections .p-one {
    position: absolute;
    left: 136px;
    top: 142px;
    width: 266px;
}

.sections .fa-tv {
    position: absolute;
    top: 108px;
    left: 66px;
    font-size: 30px;
}

.section-2 {
    grid-area: section-2;
    position: absolute;
    top: 85px;
    right: 224px;
}

.sections .h4-two {
    position: absolute;
    right: 2px;
    top: -19px;
    width: 300px;
}

.sections .p-two {
    position: absolute;
    right: 32px;
    top: 35px;
    width: 266px;
}

.sections .fa-gear {
    font-size: 30px;
    position: absolute;
    right: 345px;
    top: 8px;
}

.section-3 {
    grid-area: section-3;
    position: relative;
    top: -204px;
    left: 230px;
}


.sections .h4-three {
    position: absolute;
    bottom: 68px;
    left: 58px;
}

.sections .p-three {
    position: absolute;
    bottom: -38px;
    left: 56px;
}

.sections .fa-pen-ruler {
    position: absolute;
    font-size: 30px;
    bottom: 10px;
}

.section-4 {
    grid-area: section-4;
    position: absolute;
    right: 601px;
    top: 49px;
}

.sections .h4-four {
    position: absolute;
    top: -52px;
    left: 76px;
}

.sections .p-four {
    position: absolute;
    top: 14px;
    left: 75px;
}


.sections .fa-camera {
    position: absolute;
    font-size: 30px;
}